<div class="container">
  <div class="collapse navbar-collapse">
    <table>
      <tr>
        <td>&nbsp;<%= link_to 'Users', users_path(@users) %>&nbsp;</td>
        <td>&nbsp;<%= link_to 'Projects', projects_path(@projects) %>&nbsp;</td>
        <td>&nbsp;<%= link_to 'Tasks', tasks_path(@tasks) %></td>
        </tr>
    </table>
  </div>
</div>
